{% extends 'nevigater.html' %}
{% load static %}
{% block body  %}<br>

<section id="hero-banner">
  <div class="row">
    <div class="col-sm-10 text-info navbar-left" ><br>
      <br><a class="btn btn-primary btn-lg " href="/add_member">Add Member</a>
      <a class="btn btn-secondary btn-lg" href="/add_plan">Add Plan</a>
      <a class="btn btn-danger btn-lg" href="/add_equipment">Add Equipment</a>
      <a class="btn btn-primary btn-lg" href="/view_member">View Member</a>
      <a class="btn btn-secondary btn-lg" href="/view_plan">View Plan</a>
      <a class="btn btn-danger btn-lg" href="/add_member">View Equipment</a>
    </div>
<h2 style="color:rgb(241, 205, 205) ;"><i class="fa fa-align-center" aria-hidden="true"></i>Stronger than Ever</h2>
  </div>
</section>

  {% endblock body %}